# ignore all
*

# directories
!*/

# git
!.gitignore

!LICENSE
!*.md
!.editorconfig
!*.sln
!*.cs
!*.props
!*.targets
!*.csproj
!_._
!*.nuspec
!*.icon
!*.png
!*.json
!*.js
!*.ts
!*.scss

# generated
obj/
bin/
artifacts/
node_modules/
